@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solution */
* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.content .buttons button {
  padding: 0.7rem;
}

.footer {
  background-color: #eee;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}